<div class="wrapper wrapper_padding clearfix">

  <div class="col-1 about homepage_content">
        
    <h2>About</h2>

    <hr>
    <p>Aesthetic XOXO chillwave, gluten-free Blue Bottle
      ugh vinyl hashtag wolf. Banh mi put a bird on it
      skateboard lo-fi,<a href="#"> Unicast </a>
      squid disrupt occupy jean shorts banjo se
      miotics raw denim literally</p>

    <p>Pinterest Thundercats Neutra umami Schlitz
      DIY chambray. Post-ironic XOXO master cleanse
      readymade, narwhal deep v biodiesel Truffaut
      health goth freegan fashion axe lumbersexual
      paleo DIY. Odd Future put a bird on it direct
      trade twee readymade, distillery paleo typewriter
      Pinterest vegan McSweeney's ennui. </p>

    <p>Taxidermy migas semiotics, polaroid Marfa fap
      Neutra. Disrupt cliche shabby chic Odd Future
      single-origin coffee fanny pack</p>

  </div>

  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

  <% @posts.each do |post| %>
      <div class="post">
        <h3><%= link_to post.title, post_path(post) %></h3>
        <p class="date"><%= post.created_at.strftime("%A,%b,%d") %></p>

      </div>
  <%end  %>

  </div>


  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">Friday April 10th</p>

    <h3><a href="#">Child Community</a></h3>
    <p class="date">Friday Sep 1st</p>

    <h3><a href="#">12 in 12 challenge</a></h3>
    <p class="date">Friday May 10th</p>

  </div>
</div>