<div class="wrapper wrapper_padding clearfix">

  <div class="col-1 about homepage_content">
        
    <h2>About</h2>

    <hr>
    <p>   بسم الله الرحمان الرحيم</p>

    <p>This is my Blog / Portfolio that Ill be updating occasionally
      if I have anything interesting to show. </p>

    <p>I graduated from UCD  and currently working in Palo Alto , CA .
      My current Interests in the CS field are iOS and Rails.
    </p>

  </div>

  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

  <% @posts.each do |post| %>
      <div class="post">
        <h3><%= link_to post.title, post_path(post) %></h3>
        <p class="date"><%= post.created_at.strftime("%A %b,%d") %></p>

      </div>
    <% end  %>

  </div>


  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>

    <% @projects.each do |project| %>
        <div class="post">
          <h3><%= link_to project.title, project_path(project) %></h3>
          <p class="date"><%= project.created_at.strftime("%A %b,%d") %></p>

        </div>
    <% end  %>

  </div>
</div>