<footer id="main_footer">
  <p class="copyright">&copy;2015 Ismail</p>

  <nav>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
  </nav>

</footer>