<footer id="main_footer">
  <p class="copyright">&copy;2015 Ismail</p>

  <nav>
    <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
    <a href="https://ie.linkedin.com/in/ismailelhabbash"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/hajjboy95"><i class="fa fa-github"></i></a>
  </nav>

</footer>