<header id="main_navigation" class="clearfix">

  <%= link_to "Ismail" , root_path  , class: "name" %>
  <nav>
    <%= link_to "Articles",posts_path  %>
    <a href="#">Projects</a>
    <%= link_to "Contact" , contact_index_path %>
  </nav>

</header>